{%
    set dimensions = [
    ('Mental Demand', 'How mentally demanding was the task?'),
    ('Attention Required', 'How much are you concentrating during the scenario? '
     'Is your attention in high demand during the scenario'),
    ('Division of Attention',
     'How much is your attention divided by the scenario? Are you concentrating '
     'on many aspects of the scenario (High) or focused on only one (Low)?'),
    ('Amount of Information',
     'How much needed information have you gained during the scenario? Was all '
     'the information you needed available and understood (High) or some missing '
     'and not understood (Low)?'),
    ('Simple or Complex Scenario',
     'How complicated is the scenario? Is it complex with many interrelated '
     'components (High) or is it simple and straightforward (Low)?'),
    ('Temporal Demand', 'How hurried or rushed was the pace of the task?'),
    ('Few of Many Factors Changing During the Scenario',
     'How many variables are changing within the scenario? Are there a large '
     'number of factors varying (High) or are there very few variables changing '
     '(Low)?'),
    ('Performance',
     'How successful were you in accomplishing what you were asked to do?'),
    ('Familiarity with the Scenario',
     'How familiar are you with the scenario? Do you have a great deal of '
     'relevant experience (High) or is it a new scenario (Low)?'),
    ('Effort',
     'How hard did you have to work to accomplish your level of performance?'),
    ('Frustration',
     'How insecure, discouraged, irritated, stressed, and annoyed were you?')
    ]

%}

{%

    set sus_prompts = [
    ('1',
     'I think I would like to use this system frequently.'),
     ('2',
     'I found the system unnecessarily complex.'),
     ('3',
     'I thought the system was easy to use.'),
     ('4',
     'I think that I would need the support of a technical person to be able to use this system.'),
     ('5',
     'I found the various functions in this system were well integrated.'),
     ('6',
     'I thought there was too much inconsistency in the system.'),
     ('7',
     'I would imagine that most people would learn to use this system very quickly.'),
     ('8',
     'I found the system very cumbersome to use.'),
     ('9',
     'I felt very confident using the system.'),
     ('10',
     'I needed to learn a lot of things before I could get going with this system.'),
    ]
%}

<form id="theForm" class="survey-container">
    {% for (dimension, prompt) in dimensions %}
    <div class="form-group">
        <label class="dimension-label">{{ dimension }}</label>
        <p>{{ prompt }}</p>
        <div  class="btn-group d-flex" role="group" aria-label="{{ dimension }}">
            {% for value in range(21) %}
            <input class="box-radio" type="radio" id="{{ dimension | lower | replace(' ', '') }}-{{ value }}" name="{{ dimension | lower | replace(' ', '') }}" value="{{ value }}" class="btn-check">
            {% endfor %}
        </div>
        <div class="btn-group d-flex" role="group" >
            <span class="flex-grow-1 text-left">Very Low</span>
            <span class="flex-grow-1 text-right">Very High</span>
        </div><!-- Collapsible textbox for optional feedback -->
        <div class="mt-2"> 
            <a class="btn btn-link" data-toggle="collapse" 
               href="#{{ dimension | lower | replace(' ', '') }}-feedback-collapse" 
               role="button" aria-expanded="false" 
               aria-controls="{{ dimension | lower | replace(' ', '') }}-feedback-collapse"> 
               Add optional feedback
            </a> 
            <div class="collapse" id="{{ dimension | lower | replace(' ', '') }}-feedback-collapse"> 
                <div class="form-group"> 
                    <textarea class="form-control" 
                      name="{{ dimension | lower | replace(' ', '') }}_feedback" rows="3" 
                      placeholder="Enter your feedback"></textarea> 
                </div> 
            </div> 
        </div>
    </div>
    {% endfor %}

    <div id="sus">
    <h4>System Usability Survey (SUS)</h4>
    <p>Instructions: As you rate the usability of the system, imagine you are required to use the system as part of your day-to-day, routine, work.
    </p>

    {% for (dimension, prompt) in sus_prompts %}
    <div class="form-group">
        <p><b>{{ prompt }}</b></p>
        <div  class="btn-group d-flex" role="group" aria-label="{{ dimension }}">
            {% for value in range(7) %}
                <label style="margin-right:2em;">{{value}}
                    <input type="radio" id="{{ dimension | lower | replace(' ', '') }}-{{ value }}" 
                        name="{{ dimension | lower | replace(' ', '') }}" value="{{ value }}">
                </label>
            {% endfor %}
        </div>
        <div style="width:30em;">
            <div class="btn-group d-flex" role="group" >
                <span class="flex-grow-1 text-left">Strongly disagree (0)</span>
                <span class="flex-grow-1 text-right">Strongly agree (6)</span>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>