<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrator Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding: 20px; }
        .link-card {
            margin-top: 20px;
            padding: 20px;
            text-align: center; /* Centering text inside the card */
        }
        .link-card a {
            font-size: 20px; /* Larger font size for better readability and easier click */
            color: black; /* Ensuring the text is readable */
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="text-center">{{ config.title }}</h2>
        
        <div class="card link-card">
            <a href="admin" class="btn btn-primary btn-block">Administration Portal</a>
        </div>

        {% for group in config.groups %}
            <div class="card link-card">
                <a href="survey/{{group}}" class="btn btn-primary btn-block">{{group}} Portal</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
